.__className_81fb23 {
  font-family: '__Inter_81fb23', '__Inter_Fallback_81fb23';
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1.05px !important;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
}

body{
    background-color: #f1f3f6;
}
.signup-sec {
    height: auto;
    overflow: hidden;
    background: #f1f3f6;
    position: relative;
}


.side-step {
  background-color: #1068ad;
  width: 444px;
  height: 100vh;
  position: fixed;
}

.signup-sec .logo-image {
    position: absolute;
    left: 20px;
    top: 10px;
}

.stepwizard {
  display: block;
  width: fit-content;
  text-align: left;
  transform: translateY(-20%) !important;
  top: 50%;
  left: 90px;
}


.stepwizard-row {
  display: block;
  text-align: left;
}


.stepwizard-row.setup-panel h2 {
  font-size: 39px;
  color: #fff;
  margin-bottom: 30px;
  font-weight: 700;
}

.stepwizard-step {
  display: block;
  text-align: left;
  position: relative;
}

.btn-circle1 {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 18px;
  line-height: 23px;
  border-radius: 30px !important;
  border: 2px solid #fff !important;
  background-color: transparent;
  position: relative;
}

.btn-circle3Email {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 18px;
  line-height: 23px;
  border-radius: 30px !important;
  border: 2px solid #fff !important;
  background-color: transparent;
  position: relative;
}

.btn-circle2 {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 18px;
  line-height: 23px;
  border-radius: 30px !important;
  border: 2px solid #fff !important;
  background-color: transparent;
  position: relative;
}

.btn-circle2Email {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 18px;
  line-height: 23px;
  border-radius: 30px !important;
  border: 2px solid #fff !important;
  background-color: transparent;
  position: relative;
}

.btn-circle1:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -18px;
  text-align: center;
  margin: auto;
  height: 18px;
  width: 1px;
  background-color: #fff;
}

.btn-circle1:after {
  content: "1" !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  font-size: 20px;
  color: #fff;
  opacity: 0.7;
  font-family: "Inter", sans-serif;
  background: transparent !important;
}

.btn-circle3Email:before {
  content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -18px;
    text-align: center;
    margin: auto;
    height: 18px;
    width: 1px;
    background-color: #fff;
}

.btn-circle3Email:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    right: 0px;
    width: 20px;
    height: 20px;
    background: url('../../public/images/Sidebar/check-mark.png') no-repeat;
    background-size: cover;
}

.stepwizard-step p {
  margin-top: 0px;
  color: #fff;
  display: inline-block;
  margin-left: 15px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  margin-bottom: 24px;
}

.btn-circle2:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -18px;
  text-align: center;
  margin: auto;
  height: 18px;
  width: 1px;
  background-color: #fff;
  background: transparent !important;
}

.btn-circle2:after {
  content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    right: 0px;
    width: 20px;
    height: 20px;
    background: url('../../public/images/Sidebar/check-mark.png') no-repeat;
    background-size: cover;
}

.btn-circle2Email:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -18px;
  text-align: center;
  margin: auto;
  height: 18px;
  width: 1px;
  background-color: #fff;
  background: transparent !important;
}

.btn-circle2Email:after {
  content: "2" !important;
  background: transparent !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  font-size: 20px;
  color: #fff;
  opacity: 0.7;
  font-family: "Inter", sans-serif;
}

section.gstart-sec.signup-sec .alert-success {
  top: 50px;
}

.gstart-sec .alert.alert-success {
  width: 95%;
  position: relative;
}


.gstart-info-main {
  position: relative;
  height: auto;
  height: auto;
  padding-bottom: 50px;
}

.login-info {
    padding-top: 70px;
    width: 80% !important;
    padding-left: 80px !important;
}



.title {
  color: #434343;
  font-weight: 700;
  font-family: "Mulish", sans-serif;
  font-size: 44px;
  margin-bottom: 30px;
}

.footer-line span {
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #2d3748;
}

.footer-line span a {
  color: #2884cc;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.or-email {
  margin-bottom: 20px;
}

.or-email span {
  display: block;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  color: #7e8082;
}

.panel-body .form-group {
  margin-bottom: 20px;
}

.step .form-group label {
  color: #2D3748;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: normal;
}




.step .form-group input,
.step .form-group select {
    height: 40px;
    border: 1px solid #E2E8F0;
    border-radius: 0;
    background: #fff;
    width: 100%;
    padding-left: 10px;
    font-size: 14px !important;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -28px;
    position: relative;
    z-index: 2;
    color: #43434342;

}

.step .form-group input,
.step .form-group select {
    height: 40px;
    border: 1px solid #E2E8F0;
    border-radius: 0;
    background: #fff;
    width: 100%;
    padding-left: 10px;
    font-size: 14px !important;
}

.panel-body .form-check {
  margin-bottom: 10px;
}

.step .form-check-input {
  margin-top: 6px;
  border-radius: 0;
}

.form-check label {
    font-size: 14px !important;
    color: #718096;
    margin-bottom: 0;
}

.form-check label a {
  color: #2884cc;
  text-decoration: none;
  cursor: pointer;
}

.button-google {
  padding: 30px 0 60px;
}

.btn.btn-google {
  text-align: center;
  margin-right: 10px;
  background: #fff;
  box-shadow: 1px 2px 4px 0 rgb(0 0 0 / 10%);
  border-radius: 5px;
  padding: 10px 15px;
  height: 47px;
}
.btn.btn-google img {
  margin-right: 10px;
}
.btn.btn-facebook {
  text-align: center;
  margin-right: 10px;
  color: #fff;
  background: #1877f2;
  box-shadow: 1px 2px 4px 0 rgb(0 0 0 / 10%);
  border-radius: 5px;
  padding: 10px 10px;
  height: 47px;
}
.btn.btn-facebook img {
  margin-right: 10px;
}
a.btn.btn-linked {
  text-align: center;
  color: #fff;
  background: #0274b3;
  box-shadow: 1px 2px 4px 0 rgb(0 0 0 / 10%);
  border-radius: 5px;
  padding: 8px 5px;
  height: 47px;
  border: 1px solid #0274b3;
}
a.btn.btn-linked img {
  width: 29px;
}
.btn-account {
  background: #286cac;
  color: #fff;
  height: 39px;
  text-align: center;
  border: 1px solid #2884cc !important;
  border-radius: 10px;
  margin-top: 40px;
}

.email-center-content {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 60%;
  height: 100vh;
  margin-left: 444px;
}

.emailConfirmation{
  margin-left: 444px;
}

.content-email {
  display: grid;
  align-items: center;
  justify-items: center;
  height: auto;
}
.short-content {
  width: 100%;
  height: 50vh;
  display: grid;
  justify-items: center;
}
.content-email h2 {
  font-size: 44px;
  color: #434343;
  font-weight: 700;
  margin-bottom: 35px;
}

.contentEmail h2{
  font-size: 44px;
  color: #434343;
  font-weight: 700;
  margin-bottom: 35px;
}

.content-email p {
  color: #2d3748;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 60px;
  word-spacing: 5px;
  text-align: center;

}

.contentEmail p{
  color: #2d3748;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 60px;
  text-align: center;
}

.content-email button {
  background: #2884cc !important;
  color: #fff !important;
  width: 190px !important;
  height: 48px !important;
  padding: 10px !important;
  text-align: center !important;
  border: 1px solid #2884cc !important;
  border-radius: 5px !important;
  font-weight: 600;
  border: 1px solid transparent;
}

.contentEmail button{
  background: #286CAC !important;
  color: #fff !important;
  width: 190px !important;
  height: 39px !important;
  text-align: center !important;
  border: 1px solid #286CAC !important;
  border-radius: 5px !important;
  font-weight: 600;
  border: 1px solid transparent;
}

.content-email>button:hover{
  border: 1px solid #286CAC !important;
  background: transparent !important;
  color: #286CAC !important
}

.contentEmail>button:hover{
  border: 1px solid #2884CC !important;
  background: transparent !important;
  color: #2884CC !important
}

.content-email p span:nth-child(1) {
  font-weight: bold;
}
.content-email p span:nth-child(2) {
  margin: 0px 10px;
}
.contentEmail p span:nth-child(1) {
  font-weight: bold;
}
.contentEmail p span:nth-child(2) {
  margin: 0px 10px;
}

@media (min-width: 992px) and (max-width: 1300px) {
  .side-step {
    width: 335px;
  }
  .email-center-content {
    margin-left: 335px;
  }
  .emailConfirmation {
    margin-left: 335px;
  }
  .btn.btn-google {
    text-align: center;
    margin-right: 10px;
    background: #fff;
    box-shadow: 1px 2px 4px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
    padding: 10px 15px;
    height: 47px;
}

.btn.btn-google img {
    margin-right: 10px;
}

.btn.btn-facebook {
    text-align: center;
    margin-right: 10px;
    color: #fff;
    background: #1877f2;
    box-shadow: 1px 2px 4px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
    padding: 10px 10px;
    height: 47px;
}

.btn.btn-facebook img {
    margin-right: 10px;
}

a.btn.btn-linked {
    text-align: center;
    color: #fff;
    background: #0274b3;
    box-shadow: 1px 2px 4px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
    padding: 8px 5px;
    height: 47px;
    border: 1px solid #0274b3;
}

a.btn.btn-linked img {
    width: 29px;
  }
}

.btn-account {
    background: #286cac;
    color: #fff;
    height: 39px;
    text-align: center;
    border: 1px solid #2884CC !important;
    border-radius: 10px;
    margin-top: 40px;
}

.email-center-content {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 60%;
    height: 100vh;
}

.content-email {
    display: grid;
    align-items: center;
    justify-items: center;
}

@media (max-width: 991px) {
  .side-step {
    width: 270px;
  }
  .email-center-content {
    margin-left: 270px;
  }
  .emailConfirmation {
    margin-left: 270px;
  }

  .stepwizard {
    left: 50px;
  }
  .login-info {
    padding-top: 20px;
    padding-left:15px !important;
    width: 100%;
  }
  .login-info h1 {
    font-size: 34px;
    margin-bottom: 15px;
  }
  .button-google {
    padding: 40px 0 40px;
  }
  a.btn.btn-linked,
  .btn.btn-google,
  .btn.btn-facebook {
    width: 100% !important
    ;
    font-size: 16px;
    margin-top: 15px;
  }
  .gstart-sec .logo-image {
    position: absolute;
    left: 50px;
    top: 30px;
  }
  .gstart-sec .logo-image img {
    width: 50px;
  }
}
@media (max-width: 767px) {
  .side-step {
    width: 100%;
    position: relative;
    height: 400px;
  }

  .content-email h2 {
    font-size: 20px !important;
    color: #434343;
    font-weight: 600;
    margin-bottom: 20px !important;
  }

  .content-email p {
    font-size: 16px !important;
    padding: 1rem;
    margin-bottom: 10px !important;
  }

  .contentEmail h2 {
    font-size: 29px !important;
    color: #434343;
    font-weight: 600;
    margin-bottom: 20px !important;
  }

  .contentEmail p {
    font-size: 16px !important;
    padding: 1rem;
    margin-bottom: 10px !important;
  }

  .short-content {
    height: 60vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .email-center-content {
    display: grid;
    justify-items: center;
}

.content-email h2 {
    font-size: 44px;
    color: #434343;
    font-weight: 700;
    margin-bottom: 35px;
}

.content-email p {
    color: #2D3748;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 60px;
    word-spacing: 5px;
    align-items: center;
    width: 100%;
    margin-left: 0;
    height: 100% !important;
  }

  .content-email button {
    margin: 1rem 0;
  }

  .stepwizard {
    position: relative;
    text-align: left;
    transform: translateY(0%);
    top: 120px;
  }
  .login-info {
    padding: 20px;
    text-align: center;
    width: 100% !important;
  }
  .login-info h1 {
    font-size: 25px;
  }
  .footer-line {
    margin-bottom: 15px;
  }
  .footer-line span {
    font-size: 15px;
  }
  .button-google {
    padding: 20px 0;
  }
  .btn.btn-google,
  .btn.btn-facebook {
    margin-bottom: 17px;
    width: 100%;
    font-size: 15px;
    text-align: center;
  }
  .form-check,
  .form-group {
    text-align: left;
  }
  button.btn.btn-blue.w-auto {
    width: 95% !important;
    margin-left: 15px;
  }
}

.content-email button {
    background: #2884CC !important;
    color: #fff !important;
    width: 190px !important;
    height: 48px !important;
    padding: 10px !important;
    text-align: center !important;
    border: 1px solid #2884CC !important;
    border-radius: 5px !important;
    font-weight: 600;

}

.content-email p span:nth-child(1) {
    font-weight: bold;

}

.content-email p span:nth-child(2) {
    margin: 0px 10px;

}
@media (min-width: 992px) and (max-width: 1300px) {
    .side-step {
        width: 335px;
    }

    .btn.btn-google {
        text-align: center;
        margin-right: 10px;
        background: #fff;
        box-shadow: 1px 2px 4px 0 rgb(0 0 0 / 10%);
        border-radius: 5px;
        padding: 10px 15px;
        height: 47px;
        font-size: 13px;
    }

    .btn.btn-google img {
        margin-right: 10px;
    }

    .btn.btn-facebook {
        text-align: center;
        margin-right: 10px;
        color: #fff;
        background: #1877F2;
        box-shadow: 1px 2px 4px 0 rgb(0 0 0 / 10%);
        border-radius: 5px;
        padding: 10px 10px;
        height: 47px;
        font-size: 13px;
    }

    .btn.btn-facebook img {
        margin-right: 10px;
    }

    a.btn.btn-linked {
        text-align: center;
        color: #fff;
        background: #0274b3;
        box-shadow: 1px 2px 4px 0 rgb(0 0 0 / 10%);
        border-radius: 5px;
        padding: 8px 5px;
        height: 47px;
        border: 1px solid #0274b3;
        font-size: 13px;
    }

    a.btn.btn-linked img {
        width: 29px;
    }
}

@media only screen and (max-width: 1149px) and (min-width: 1023px) {
    .step{
        margin-left: 15%;
    }
}
@media only screen and (max-width: 1022px) and (min-width: 768px){
    .step{
        margin-left: 30%;
    }
    .button-google {
        width: auto;
    }
}
@media (max-width: 991px) {
    .side-step {
        width: 270px;
    }

    .stepwizard {
        left: 50px;
    }

    .login-info {
        padding-top: 20px;
        width: 95%;
    }

    .login-info h1 {
        font-size: 34px;
        margin-bottom: 15px;
    }

    .button-google {
        padding: 40px 0 40px;
    }

    a.btn.btn-linked,
    .btn.btn-google,
    .btn.btn-facebook {
        width: 80%;
        font-size: 16px;
        margin-top: 15px;
    }

    .gstart-sec .logo-image {
        position: absolute;
        left: 50px;
        top: 30px;

    }

    .gstart-sec .logo-image img {
        width: 50px;

    }
}

@media (max-width: 767px) {
    .side-step {
        width: 100%;
        position: relative;
        height: 400px;
    }

    .email-center-content {
        display: grid;
        justify-items: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        margin-left: 0;
    }

    .emailConfirmation{
      margin-left: 0;
    }
  

    .stepwizard {
        position: relative;
        text-align: left;
        transform: translateY(0%);
        top: 120px;
    }

    .login-info {
        padding: 20px;
        text-align: center;
        width: 100%;
    }

    .login-info h1 {
        font-size: 25px;
    }

    .footer-line {
        margin-bottom: 15px;
    }

    .footer-line span {
        font-size: 15px;
    }

    .button-google {
        padding: 20px 0;
    }

    .btn.btn-google,
    .btn.btn-facebook {
        margin-bottom: 17px;
        width: 100%;
        font-size: 15px;
        text-align: center;
    }

    .form-check,
    .form-group {
        text-align: left;
    }

    button.btn.btn-blue.w-auto {
        width: 95% !important;
        margin-left: 15px;
    }
}

@media(max-width:575px) {
    button.btn.btn-blue.w-auto {
        width: 90% !important;
        margin-left: 15px;
    }
    .login-info{
        width: 100%;
    }
    .button-google {
        width: auto;
    }
    a.btn.btn-linked{
        width: 100% !important;
    }
    .email-center-content {
        margin-left: 0px;
    }
    .emailConfirmation{
      margin-left: 0;
    }
}



.error {
  color: red !important;
  font-size: 15px !important;
  margin: 0px;
  line-height: normal !important;
  font-family: "Inter", sans-serif;
}

.form-check-input:focus {
    border-color: #86b7fe;
    outline: none !important;
    box-shadow: none !important;
}

.step .form-check-input {
  margin-top: 6px;
  border-radius: 4px;
}

a.btn.btn-facebook {
    display: inline-flex;
}

a.btn.btn-linked {
    display: inline-flex;
}


.panel .panel-primary .setup-content{
    width: 10%;
}

@media (min-width: 1300px) and (max-width:1450px){
  .login-info{
    margin-left: 200px !important;
  }
}
@media (min-width: 768px) and (max-width:800px){
  .login-info{
    margin-left: 100px !important;
  }
}