
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");

.btn-blue {
  background: #286cac !important;
  color: #fff !important;
  height: 39px !important;
  text-align: center !important;
  border: 1px solid #2884cc !important;
  border-radius: 10px !important;
  margin-top: 3rem !important;
}
.title{
  font-size: 29px;
  font-style: normal;
  font-weight: 600;
  line-height: 41.18px;
}
.container_syn{
  border: 1px solid #A6B7F4;
  border-radius: 14px;
  margin-top: 18px;
  height: auto;
  padding: 24px;
  background-color:#fff;
}
.top-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.back{
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.98px;
  margin-left: 10px;
}
.inner-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inner-right{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 120px;
}
.share{
  font-style: normal;
  font-weight: 400;
  color: #434343;
  font-size: 15px;
  line-height: 22.5px;
}
.headerdiv{
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.headertext{
  font-size: 29px;
  font-style: normal;
  line-height: 41.18px;
  font-weight: 600;
  width: 66%;
}
.apply-button{
  padding: 6px 13px;
  border-radius: 6px;
  background-color: #E9F1FF;
}
#Apply{
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.contentdiv{
  margin-top: 20px;
  margin-bottom: 20px;
}
.upper-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titletext{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.subtetx{
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  padding-top: 5px;
}
.lower-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.subdiv{
  height: 20px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 9px;
  background-color: #E9F1FF;
  margin-top: 10px;
  display: flex;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #434343;
  font-family: 'Inter' !important;
}
.subdiv:not(:first-child) {
  margin-inline-start: 5px;
}
.flexed{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.border2{
  border: 1px solid #A6B7F4;
  margin: 20px 0;
}
.lowerdiv{
  margin-top: 20px;
  margin-bottom: 20px;
}
.desc{
  color: #434343;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  font-style: normal;
  font-family: 'Mulish';
}
.flexx{
  justify-content: space-between;
  align-items: flex-start;  
  display: flex;
}
.left70{
  width: 60%;
}
.margintop{
  margin-top: 20px;
}
.Attachments{
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 36.92px;
  margin-top: 20px;
}
.right30{
  border-radius: 18px;
  border: 1px solid #A6B7F4;
  height: auto;
  padding: 20px;
}
.client{
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 29.82px;
}
.stardiv{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}
.stardiv > :first-child {
  margin-right: 5px;
}
.review{
  font-size: 8px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: #7E8082;
  margin-left: 30px;
}
.loca{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.total{
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  color: #7E8082;
  line-height: 20px;
  margin-top: 10px;
}
.def{
  color: #2D3748;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  margin-top: 10px;

}
.skill-contenyt {
  display: inline-block;
  background: #E9F1FF;
  border-radius: 10px;
  padding: 8px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: #434343;
  gap: 10px;
}
@media only screen and (max-width: 767px) {
  .container {
    padding: 20px;
  }

  .container_syn{
    padding: 24px;
  }

  .inner-left,
  .inner-right {
    align-items: flex-start;
  }

  .headertext {
    font-size: 24px;
    line-height: 36px;
    width: 100%;
  }

  .apply-button {
    width: 100%;
    text-align: center;
  }

  .contentdiv {
    margin-top: 15px;
  }

  .lower-div,
  .upper-div {
    flex-direction: column;
  }

  .lowerdiv {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .right30 {
    width: 100%;
  }

  .left70 {
    width: 100%;
  }

  .stardiv {
    justify-content: center;
  }

  .stardiv > :first-child {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .review {
    margin-left: 0;
  }

  .loca {
    flex-direction: column;
    align-items: flex-start;
  }
}
.socialBox{
  box-shadow: 1px 1px 11px -6px rgb(0 0 0 / 50%);
  background: #fff;
  cursor: pointer;
}
.socialLi1{
  height: 30px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eee;
}
.socialLi2{
  height: 30px;
  display: flex;
  justify-content: center;
}


